const [state, dispatch] 
  = useReducer(reducer, initialState);

const reducer = (state, action) => {
  switch (action.type) {
    case 'reset':
      return initialState;
    case 'increment':
      return { count: state.count + 1 };
    case 'decrement':
      return { count: state.count - 1 };
    default:
      return state;
  }
};

const Counter = ({ initialCount }) => {
  const defaultState = { count: initialCount };
  const [state, dispatch] = useReducer(reducer, defaultState);
  return (
    <div>
      Count: {state.count}
      <button onClick={() => dispatch({ type: 'reset' })}>
        Reset
	  </button>
      <button onClick={() => dispatch({ type: 'increment' })}>
        +
      </button>
      <button onClick={() => dispatch({ type: 'decrement' })}>
        -
      </button>
    </div>
  );
};
